<mat-card class="card" appearance="outlined">
    <mat-card-content>
        <form [formGroup]="formGroup">
            <div class="form">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Search YouTube Thumbnail</mat-label>
                    <input
                        matInput
                        type="url"
                        placeholder="Your YouTube URL here"
                        formControlName="url"
                    />
                    @if (imgSrc) {
                        <mat-icon matSuffix (click)="clearImg()">close</mat-icon>
                    }
                    @if (formError('required')) {
                        <mat-error>URL is required</mat-error>
                    }
                    @else if (formError('invalidUrl')) {
                        <mat-error [textContent]="formError('invalidUrl')"></mat-error>
                    }
                    @else if (formError('invalidYouTubeUrl')) {
                        <mat-error [textContent]="formError('invalidYouTubeUrl')"></mat-error>
                    }
                    @else if (formError('invalidYouTubeId')) {
                        <mat-error [textContent]="formError('invalidYouTubeId')"></mat-error>
                    }
                    @else if (formError('YouTubeIsNotAvailable')) {
                        <mat-error [textContent]="formError('YouTubeIsNotAvailable')"></mat-error>
                    }
                </mat-form-field>
            </div>
            <button class="send" mat-flat-button>SEARCH</button>
        </form>
    </mat-card-content>

    @if (imgSrc) {
        <img
            mat-card-image
            [src]="imgSrc"
            [title]="imgTitle"
            [alt]="imgTitle"
        />
    }

</mat-card>
