<mat-card class="card" appearance="outlined">
    <!-- 顯示圖片 開始 -->
    @if (formGroup.value.image) {
        <mat-icon class="card-close" (click)="userRemoveFile()">close</mat-icon>
        <img mat-card-image class="image" [src]="formGroup.value.image" [alt]="item.title">
    }
    <!-- 顯示圖片 結束 -->
    <mat-card-content>
        <form [formGroup]="formGroup" (ngSubmit)="userSend()">
            <div class="form">

                <!-- 輸入標題 開始 -->
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="title"
                    />
                    @if (formError('title')?.required) {
                        <mat-error>Title is required</mat-error>
                    }
                </mat-form-field>
                <!-- 輸入標題 開始 -->

                <!-- 輸入內容 開始 -->
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Content</mat-label>
                    <textarea
                        matInput
                        formControlName="content"
                    ></textarea>
                    @if (formError('content')?.required) {
                        <mat-error>Content is required</mat-error>
                    }
                </mat-form-field>
                <!-- 輸入內容 結束 -->

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input
                        matInput
                        [matDatepicker]="picker"
                        (dateChange)="userDate($event)"
                        formControlName="date"
                    />
                    <mat-hint>YYYY/MM/DD</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (formError('date')?.required) {
                        <mat-error>Date is required</mat-error>
                    }
                    @else if (formError('date')?.matDatepickerParse) {
                        <mat-error>Invalid date</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline" (click)="userFile()">
                    <input matInput class="hide-input">
                    <input
                        type="file"
                        #fileUpload
                        accept="image/png, image/jpeg"
                        (change)="userSelectFile($event)"
                        class="pointer-events-none"
                    />
                    <mat-icon matSuffix>attachment</mat-icon>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Note tags</mat-label>
                    <mat-chip-grid #reactiveChip aria-label="Enter reactive form keywords" formControlName="tag">
                        @for (tag of tagList; track tag; let index = $index) {
                            <mat-chip-row (removed)="userRemoveTag(index)">
                                {{tag}}
                                <button matChipRemove aria-label="'remove reactive form' + keyword">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                        }
                    </mat-chip-grid>
                    <input
                        placeholder="New tag..."
                        [matChipInputFor]="reactiveChip"
                        (matChipInputTokenEnd)="userAddTag($event)"
                    />
                </mat-form-field>
            </div>
            <button class="send" mat-flat-button>Send</button>
        </form>
    </mat-card-content>
</mat-card>
