.spacer {
    flex: 1 1 auto;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


section {
    padding: 20px 20px;
}

.content {
    background-color: #efefef;
}

.menu {
    margin-right: 10px;
}

.send {
    width: 100%;
}

form {
    width: 100%;
}

.form {
    margin-bottom: 10px;
}

.card {
    max-width: 1280px;
    margin: 0 auto;
}

.form-field {
    width: 100%;
}

.card img {
    width: 100%;
    margin-top: 50px;
}
