<mat-sidenav-container class="container">

	<mat-sidenav #sidenavMat mode="push">
		<mat-nav-list>
			@for (item of nav; track $index) {
				<a mat-list-item [routerLink]="item.path" [activated]="item.path === path">
					<mat-icon matListItemIcon [textContent]="item.icon"></mat-icon>
					{{ item.name }}
				</a>
			}
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content class="content">
		<mat-toolbar>
			<button mat-icon-button class="menu" (click)="toggleAside()" aria-label="icon-button with menu icon">
				<mat-icon>menu</mat-icon>
			</button>
			<span>Mochi APP</span>
			<span class="spacer"></span>
			<button mat-icon-button aria-label="icon-button with share icon">
				<mat-icon routerLink="/setting">settings</mat-icon>
			</button>
		</mat-toolbar>
		<section>
			<router-outlet></router-outlet>
		</section>
	</mat-sidenav-content>
</mat-sidenav-container>
