<mat-sidenav-container class="example-container">

	<mat-sidenav #sidenav mode="push">
		<mat-nav-list>
			<a mat-list-item routerLink="." [activated]="true">
				<mat-icon matListItemIcon>image</mat-icon>
				YouTube Thumbnail
			</a>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content class="content">
		<mat-toolbar>
			<button mat-icon-button class="menu" (click)="sidenav.toggle()" aria-label="icon-button with menu icon">
				<mat-icon>menu</mat-icon>
			</button>
			<span>Mochi APP</span>
			<span class="example-spacer"></span>
			<button mat-icon-button aria-label="Example icon-button with share icon">
				<mat-icon>style</mat-icon>
			</button>
		</mat-toolbar>
		<section>

			<mat-card class="card" appearance="outlined">
				<mat-card-content>
					<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
						<div class="form">
							<mat-form-field class="form-field" appearance="outline">
								<mat-label>Search YouTube Thumbnail</mat-label>
								<input
									matInput
									type="url"
									placeholder="https://youtube.com"
									formControlName="url"
								/>
								<mat-icon matSuffix>image_search</mat-icon>
								@if (formGroup.controls.url.getError('required')) {
									<mat-error>URL is required</mat-error>
								}
								@else if (formGroup.controls.url.getError('invalidUrl')) {
									<mat-error [textContent]="formGroup.controls.url.getError('invalidUrl')"></mat-error>
								}
								@else if (formGroup.controls.url.getError('invalidYouTube')) {
									<mat-error [textContent]="formGroup.controls.url.getError('invalidYouTube')"></mat-error>
								}
							</mat-form-field>
						</div>
						<button class="send" mat-flat-button>SEARCH</button>
					</form>
				</mat-card-content>

				@if (imgSrc) {
					<img mat-card-image [src]="imgSrc" alt="YouTube Thumbnail">
					<mat-card-content>
						<a mat-stroked-button class="send" [href]="imgSrc" download="youtube-thumbnail" target="_blank">DOWNLOAD</a>
					</mat-card-content>
				}

			</mat-card>

		</section>
	</mat-sidenav-content>
</mat-sidenav-container>
